<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ page.title }}</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <style>
    header {
      background-color: #0196da;
      padding-top: 0px;
      padding-bottom: 0px;
    }
    
    a {
      font-family: "Trebuchet MS", Helvetica, Arial, Sans-serif;
      font-size: 1.2em;
      font-weight: bold;
      color: #105289;
    }
    
    a:hover {
      color: #d31141
    }
    
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<header>
  <table>
     <tr>
        <td width="25%" style="padding-top:15px; padding-left:15px; padding-right:20px;"><img src="{{site.url}}/{{site.baseurl}}/images/site_logo.gif" alt="FiveTech Software"></td>
        <td width="80%"><h3 style="color:white;">FiveTech Software tech support forums</h3></td>
     </tr>
     <tr>
        <td></td>  
        <td><h3 style="color:white;margin-top: 0px;"><a href="https://fivetechsoft.github.io" style="color:white;">www.FiveTechSoft.com</a></h3></td>
     </tr>
  </table>
</header>
  
<div class="container-fluid bg-3">    
  {{ content }}
</div><br>

<footer class="container-fluid text-center" style="vertical-align: bottom; padding-top:20px; padding-bottom:20px;">
  <a href="https://fivetechsoft.github.io/forums">Board index</a>
</footer>

</body>
</html>
