---
layout: default
---

<h3>{{ page.title }}</h3>
<div class="post" style="font-size:large;background-color:#D5E1EA;padding-top: 20px;padding-bottom: 20px;padding-left: 20px;padding-right: 20px;border-radius: 10px;">
<img src="https://fivetechsoft.github.io/forums/images/post.gif" width="19" height="16" alt="Post" title="Post">
by <span style="color:red;">{{ page.tag }}</span> >> {{ page.date }}

<br><br>

   {{ content }}
</div>
<hr style="border-top: 2px solid #eee;">
<button style="margin-bottom: 15px;color: red;font-size: x-large;">Post reply</button>
