---
layout: default
---

<h2>{{page.title}}</h2>

{% assign cat = {{page.title | replace: "/", "_"}} %}

<button style="margin-bottom: 15px;color: red;font-size: x-large;">New topic</button>
<div class="posts" style="font-size:large;">
   {% for post in site.categories[ cat ] %}
      <div class="col-sm-12" style="background-color:#D5E1EA; height: 60px; border-top: 1px solid #FFFFFF; border-bottom: 1px solid #00608F;">	
         <a href="/forums{{post.url}}">{{ post.title }}</a><br>
         by <span style="color:red;">{{ post.tag }}</span> >> {{ post.date }}
      </div>
   {% endfor %}
</div>
